configuration/
doc/
examples/*
language/
license/
log/
resources/
des.cnf
des.exe
des_acide.jar
deswin.exe
MANIFEST.MF
spcon.dll

!examples/aggregates_mod.dl
!examples/family_mod.dl
!examples/paths_mod.dl
!examples/lab3.dl
